<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px;
						background: #2c3338;
			color: #606468;
			font: 87.5%/1.5em 'Open Sans', sans-serif;
			margin: 0;}

		label {
			font-size: medium;
		}

	</style>

	<link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger" style="font-size: 16px;"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<div id="login">
	<form action="/signup" method="post">
		<div class="form-group">

			<input type="text" name="username" placeholder="Email" style="width:100%;">
		</div>
		<div class="form-group">

			<input type="password" name="password" placeholder="Password" style="width:100%;">
		</div>
		<div class="form-group">

			<input type="text" name="firstname" placeholder="First name" style="width:100%;">
		</div>
		<div class="form-group">

			<input type="text" name="lastname" placeholder="Last name" style="width:100%;">
		</div>

		<button type="submit" class="click">Sign up</button>
	</form>
	</div>

	<hr>

	<h4>Already have an account? <a href="/login">Login</a></h4>
	<h4>Or go <a href="/">home</a>.</h4>

</div>

</div>
</body>
</html>
